/*WATASHI GA KITA*/


/*Main----------------------------------sections*/
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100vh;
}
.section1{ /*This is first section with blue coloring and stuff*/
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 300px;
}
.header-subSection{
    margin: 0 300px;
    display: flex;
    padding: 50px 0;
    justify-content:space-between
}
/*Main----------------------------------sections*/


/*header styling*/
li{
    list-style: none;
}
a{
    text-decoration-line: none;
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
}
ul{
    display: flex;
}
.links{
    display: flex;
    padding: 0px;
    gap:15px;
}

.logo{
    display: flex;
    font-weight: bold;
    font-size: 24px;
}
/*header styling*/

/*stuff under header*/
.ssText{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 10px;
}
.bigText{
    font-size: 48px;
    font-weight:bolder;
}
.subText{
    font-size: 18px;
    color: #E5E7EB;
}
#b1{
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: #3882F6;
    border-radius:5px;
    border-color: #3882F6;
    color:white;
}
.memeImage{
    width:50%;
    height: 214px;
}
/*stuff under header*/
/*2nd section of exercise*/
.s2txt{
    display: flex;
    /*required for solution*/
    font-size: 36px;
    font-weight:1000;
    /*required for solution*/
    justify-content: center;
    padding: 2% 0;
}

.fourPics{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.pic{
    border:#3882F6 solid 4px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    padding: 20px;
}
.group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
}
.txt{
    display: flex;
    font-size: 18px;
    text-align: center;
}
/*2nd section of exercise*/