/*WATASHI GA KITA*/


/*Main----------------------------------sections*/
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.section1{ /*This is first section with blue coloring and stuff*/
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 200px;
}
.header-subSection{
    margin: 0 200px;
}
/*Main----------------------------------sections*/


/*header styling*/
li{
    list-style: none;
}
a{
    text-decoration-line: none;
    color: #F9FAF8;
    padding: 10px;
}
ul{
    display: flex;
}

.logo{
    display: flex;
    padding: 10px;
    font-weight: bold;
}
/*header styling*/


