/*WATASHI GA KITA*/


/*Main----------------------------------sections*/
body{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    height: 100vh;
}
.section1{ /*This is first section with blue coloring and stuff*/
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 300px;
}
.header-subSection{
    margin: 0 300px;
    display: flex;
    padding: 50px 0px;
}
/*Main----------------------------------sections*/


/*header styling*/
li{
    list-style: none;
}
a{
    text-decoration-line: none;
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
}
ul{
    display: flex;
}
.links{
    display: flex;
    padding: 0px;
    gap:15px;
}

.logo{
    display: flex;
    font-weight: bold;
    font-size: 24px;
}
/*header styling*/

/*stuff under header*/
.ssText{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 10px;
    justify-content: space-between;
}
.bigText{
    font-size: 48px;
    font-weight:bolder;
}
.subText{
    font-size: 18px;
    color: #E5E7EB;
}
#b1{
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: #3882F6;
    border-radius:5px;
    border-color: #3882F6;
    color:white;
}
.memeImage{
    display: flex;
    flex:1;
}
/*stuff under header*/
/*2nd section of exercise*/
.s2txt{
    display: flex;
    /*required for solution*/
    font-size: 36px;
    font-weight:1000;
    /*required for solution*/
    justify-content: center;
    padding: 2% 0;
}
.fourPics{
    display: flex;
    margin: 0 300px;
    justify-content: space-between;
}
.group{
    width: 100px;
    padding: 10px;
}
.pic{
    border: #3882F6 5px solid;
    border-radius: 10px;
    padding: 1px;
}
.txt{
    text-align: center;
}
/*2nd section of exercise*/

/*3rd section of exercise*/
.quoteGroup{
    display: flex;
    flex-direction: column;
    /*required*/
    background-color: #E5E7EB;
    /*required*/
    
    padding: 80px 0;
}
.quoteTxt{
    /*required*/
    display: flex;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    font-weight: lighter;
    /*required*/
    margin: 0 300px;
}
.quoteName{
    margin: 0 300px;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}
/*3rd section of exercise*/


/*4th section of exercise*/
.buttonSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 80px 300px;
    padding: 50px 0;
    border-radius: 10px;
    color:white;  
}
.SUbutton{
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: #3882F6;
    border-radius:5px;
    border-color: white; 
    color:white;  
}
.btnStxt1{
    font-weight: 700;
}
/*4th section of exercise*/

/*footer*/
.footer{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    color: white;
}
/*footer*/